<div class="lastbox">
	<div class="row">
		<div class="col-md-12 b3">
			<h6>Developed By <a href="http://withweb.herokuapp.com/" style="color:black;text-decoration:underline;" target="_blank">WithWeb </a><i class="fa fa-copyright"></i> 2021 - Foodie</h6>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/phone.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> -->
</body>
</html>